# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# for all files:
* @shenda1 @rounak-adhikary @Sakshi-dell @prajwalpatil25 @Krunal-Thakkar @Krunal-Thakkar @AnikaAgiwal2711 @forrestxia @baoy1 @taohe1012 @P-Cao @tanh17 @RayLiu7 @vangork @MangirishK @sapana05 @doriac11 @varunchinta @nikitajoshi1 @shekhar-j