# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# for all files:
* @shenda1 @rounak-adhikary @Sakshi-dell @Krunal-Thakkar @Krunal-Thakkar @AnikaAgiwal2711 @MangirishK @sapana05
