# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# for all files:
@rounak-adhikary @Krunal-Thakkar @MangirishK @sapana05 @chronarchitect @Saksham-Nautiyal @trisha-dell
